@page "/Categories/create"
@using CurrieTechnologies.Razor.SweetAlert2;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Categorias</h3>

<CategoriesForm @ref="CategoriesForm" Categories="Categories" OnValidSubmit="Create"
             ReturnAction="Return" />

@code {
    private Categories Categories = new();
    private CategoriesForm? CategoriesForm;
    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/countries", Categories);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            CategoriesForm!.FormPostedSuccessfully = true;


            navigationManager.NavigateTo("/countries");
        }
    }
    private void Return()
    {
        navigationManager.NavigateTo("/countries");
    }
}

