@page "/countries/create"
@using StreamingAccounts.Shared.Entities;
@using CurrieTechnologies.Razor.SweetAlert2;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Crear País</h3>


@code {
    private Country country = new();
    private CountryForm? countryForm;

    private async Task Create()
    {
        if (httpResponse.Error)
        {
        }
        else
        {
            countryForm!.FormPostedSuccessfully = true;
    }
    }

    private void Return()
    {
    }
}

